@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Webly Sleek UI";
    src: url("./assets/fonts/weblysleekuisb.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Webly Sleek UI";
    src: url("./assets/fonts/weblysleekuisl.ttf") format("truetype");
    font-weight: normal;
}

:root {
    --primary: #1e1f22;
    --secondary: #2b2d31;
    --tertiary: #313338;
    --background-main: #282a2e;
    --dark: #141414;
    --blue: #60A5FA;
    --dark-blue: #283a74;
    --symbol-gray: #6f7282;
    --table-primary: #10161a;
    --table-secondary: #242c33;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        padding: 10px;
        width: 9px;
        height: 8px;
        background: var(--secondary);
    }

    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(185, 171, 171, 0.2);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-corner {
        background: var(--primary);
      }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

.general-input {
    @apply bg-transparent w-full outline-none m-1;
}

.table-textfield {
    @apply py-0 px-1 m-0 outline-none bg-transparent text-center;
}

.table-header-cell {
    @apply z-30 bg-table-primary sticky top-0 py-0.5 text-gray-400 hover:cursor-pointer;
}

.checkbox {
    @apply form-checkbox m-0.5 bg-primary checked:bg-primary border-gray-600 ring-tc-blue focus:ring-1 focus:ring-offset-1 focus:ring-offset-table-primary text-gray-800 checked:border-gray-600;
}