@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("./assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
    font-style: bold;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("./assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
    font-style: normal;
}

:root {
    --primary: #1e1f22;
    --secondary: #2b2d31;
    --tertiary: #313338;
    --background-main: #282a2e;
    --dark: #141414;
    --blue: #60A5FA;
    --dark-blue: #283a74;
    --symbol-gray: #6f7282;
    --table-primary: #212429;
    --table-secondary: #31353d;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: var(--secondary);
    }

    .scrollbar::-webkit-scrollbar-track {
        background: var(--secondary);
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: var(--primary);
        background-clip: padding-box;
        border-radius: 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

.functionality-item {
    @apply hover:bg-zinc-100 hover:bg-opacity-10 hover:cursor-pointer;
}

.general-input {
    @apply bg-transparent w-full outline-none m-1;
}